.deshwrapper {
  margin-top: 0px;

  background-color: #F7F7F7;
  padding: 10px;

}
.topdash {
  margin-bottom: 50px;
}
.righttop {
  position: relative;
}
.toprightdash {
  position: absolute;
  left: 0px;
  top: 2px;
}

.bokwrapper {
  background-color: #EFF0EF;
  padding: 20px;

}
