.size-paragraph {
  color: rgb(230, 230, 230);
}

.storage-specs {
  display: flex;
   justify-content: space-around;
   margin-top: 25px;
}

#storage-show-details {
  margin-top: 40px;

  h3 {
    margin-top: 0;
  }
}

#storage-show-description {
  margin-top: 20px;
}

#storage-show-form {
  h4 {
    color: $red;
  }
}
