.bottom-center-rnj  {
   position: relative;
   height: auto;
   bottom: 0;
   top: 100;
   left: 0;
   right: 0;
   padding-bottom: 5px;
   margin: 40px 20px 60px 20px;
}

.unique-html, .unique-body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #e6e6e6;
}
.covering-wrapper {
    text-align: center;
    width: 90%;
    height: 90%;
}

.vertical-center-row-rnj  {
    margin: 100px;

}

.eye-candy  {
    background-color: #e6e6e6;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 120px 10px 10px 10px
}
