
      <div class="footerwrap">


        <div class="sociallist">
        <ul class="list-inline listul">
          <li><i class="fa fa-linkedin"></i></li>
          <li><i class="fa fa-instagram"></i></li>
          <li><i class="fa fa-facebook"></i></li>
          <li><i class="fa fa-youtube"></i></li>
        </ul>
        </div>


<div class="emailform">
   <p>Leave us your mail and get news from us</p>
    <form class="form-inline">
      <input type="email" placeholder="username@gmail.com" class="form-control">
      <input type="submit" value="Subscribe" class="btn btn-primary">
    </form>
</div>



<div class="linkslist">
  <ul class="list-unstyled">
    <li><strong>Rent Storage</strong></li>
    <li> <a href="#"> Become a Host</a></li>
    <li> <%= link_to t(".sign_in", default: "Contact us"), new_contact_url %></li>
    <li> <a href="#"> About Us</a></li>
    <li> <a href="#"> FAQs</a></li>
    <li> <a href=""> Privacy Policy</a></li>
    <li> <a href="#"> Terms & Conditions</a></li>
  </ul>


</div>

<div class="address">
  <address>
  <strong>Rent Storage, Inc.</strong><br>
  1355 Market Street, Suite 900<br>
  San Francisco, CA 94103<br>
  <abbr title="Phone">P:</abbr> (123) 456-7890
</address>

<address>
  <strong>Email:</strong><br>
  <a href="mailto:#">Info@RentStorage.com</a>
</address>

</div>

</div>

