
      <div class="footerwrap">


        <div class="sociallist">
        <ul class="list-inline listul">
          <li><i class="fa fa-linkedin"></i></li>
          <li><i class="fa fa-instagram"></i></li>
          <li><i class="fa fa-facebook"></i></li>
          <li><i class="fa fa-youtube"></i></li>
        </ul>
        </div>
<div class="emailform">
   <p>Leave us your mail and get news from us</p>
    <form class="form-inline">
      <input type="email" placeholder="username@gmail.com" class="form-control">
      <input type="submit" value="Subscribe" class="btn btn-primary">
    </form>
</div>

</div>







