<br>
<br>

<br>
<br>

<div class="container">
  <div class="row">
  <div style="text-align: center;">

    <div class="col-xs-2">
     <p> <%= image_tag 'fahad.jpg', class: 'avatar-large' %> </p>

     <strong>Fahad</strong>
     <p>Host</p>


</div>
   </div>
   <div class="col-xs-10">

    <h1>About me</h1>
    <p> I am currently working as freelancer travelling the world. I have a passion for Boudlering, Scuba diving and playing tennis . </p>



      <p>While growers and exporters of U.S. crops and food products have expressed anxiety over Trump’s restrictive immigration policies and determination to renegotiate trade deals, dairies see him as an opportunity to crack what they see as Canada’s protectionist milk practices and to help ease oversupply in some regions.</p>

      <p> Any restriction on exports is bad news for American dairy producers, who saw cash receipts drop to a six-year low of $34.2 billion, U.S. Department of Agriculture data show. Low prices and global surpluses have hurt the entire U.S. farm economy, with net income forecast to drop for a fourth straight year in 2017. </p>


      <br>




    </div>
  </div>
</div>








<%= link_to 'Back', root_path %>
</div>
</div>
</div>
</div>
</div>
</div>
<br>
<br>
