


<div class="covering-wrapper">
  <div class="vertical-center-row-rnj">
    <div align="center"><h1>Thank you for submitting your enquiry</h1></div>
  </div>
    <div class="eye-candy">
      <%= image_tag "logo.png" %>
    </div>
  <div class="bottom-center-rnj"> <%= link_to 'Return to Rent Storage', root_path, class: "btn btn-primary" %></div>
</div>





