


<div class="container">
  <div class="vertical-center-row">
    <div>
      <%= link_to root_path, class: "navbar-wagon" do %>
      <%= image_tag "logo.png" %>
      <% end %>
    </div>
    <div align="center"><h1>Thank you for submitting your enquiry</h1></div>
  </div>
</div>

<div class="bottom-center"> <%= link_to 'Return to Rent Storage', root_path, class: "btn btn-primary" %></div>


