.footerwrap {
  position: relative;
  background-color: #F7F7F7;
  height: 220px;
}
.sociallist {
  left: 20px;
  bottom: 20px;
  position: absolute;
  color: #46BCEC;
}

ul.li {
  color:#46BCEC;
}
li:hover {
  color: black;
}

.emailform {
  left: 15px;
  top: 20px;
  position: absolute;
}
.linkslist {
  position: absolute;
  left: 400px;
  top: 20px;
}
.linkslist li {
  margin: 0 0 3px 0;
}
.address {
  position: absolute;
    left: 600px;
  top: 20px;
}
